body {
  background-color: #C7CEDB;
}

div {
  display: flex;
  flex-direction: column;
}

p {
  padding: 15px;
}

h1 {
  padding: 15px;
}
header {
  background-color: #14281D;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

#logo {
  width: 30%;
  height: auto;
}

.subSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#aboutUs {
  background-color: #6E633D;
}

#environment {
  background-color: #355834;
}

#products {
  background-color: #6E633D;
}

#testimonials {
  background-color: #C7CEDB;
}

#prod {
  display: flex;
  justify-content: center;
}

footer {
  background-color: #14281D;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  color: white;
}
