header {
  background-color: #14281D;
}

#aboutUs {
  background-color: #6E633D;
}

#environment {
  background-color: #355834;
}

#products {
  background-color: #6E633D;
}

#testimonials {
  background-color: #C7CEDB;
}

footer {
  background-color: #14281D;
}
